{% extends 'books/Base.html' %}

{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
<link rel="stylesheet" href="/static/books/css/new.css">
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/5a6c039683.js" crossorigin="anonymous"></script>
{% endblock %}


{% block title%}
Books Library
{% endblock %}

{% block content %}
<ul>
    <div class="container">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <span class="stars"></span>
                    <h2 class="java text-center">
                        <a href="new/"><i class="fa-solid fa-plus fa-2xl"></i></a>
                    </h2>
                </div>
                <div class="face face2">
                    <h1 class="python">Add New Book</h1>
                </div>
            </div>
        </div>
        {% for book in books %}
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <span class="stars"></span>
                    <h2 class="java text-center">
                        <a href="{{book.id}}">{{ book.title }}</a>
                    </h2>
                    <h3 class="text-center py-2">
                        <a href="{{book.id}}" class="btn btn-outline-primary" >View</a>
                        <a href="/books/update/{{book.id}}" class="btn btn-outline-light" >Edit</a>
                        <a href="/books/delete/{{book.id}}" class="btn btn-outline-danger" >Delete</a>
                    </h3>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</ul>
<script>
    $(document).ready(function(){
        $('.btn-outline-danger').click(function(){
            var url = $(this).attr('href');
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this book!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    window.location.href = url;
                } else {
                    swal("Operation canceled!");
                }
            });
            return false;
        });
    });

            
</script>


{% endblock %}